* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", serif;
}

h2, p {
  padding: 0.25rem 0;
}

.container {
  max-width: 920px;
  margin: auto;
  overflow: hidden;
  padding: 0 1rem;
}

#showcase {
  color: #fff;
  height: 100vh;
  position: relative;
}

#showcase:before {
  content: '';
  background: url('../img/aerial.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  z-index: 1;
}

.wedding-title {
  background: salmon;
  width: 21.875rem;
  height: 12.5rem;
  padding: 2rem;
  opacity: 0.7;
  justify-content: center;
}

.wedding-title h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.wedding-title h1 {
font-family: 'Allura', cursive;
font-size: 3rem;
}

.wedding-title p {
font-family: 'Raleway', sans-serif;
}


.wedding {
  background: #fff;
  color: #DB996C;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.dark-hr {
  border: solid #DB996C 2px;
  border-bottom: none;
  width: 8%;
  margin: 2rem auto;
}

.light-hr {
  border: solid #fff 2px;
  border-bottom: none;
  width: 8%;
  margin: 2rem auto;
}


.wedding {
  color: #DB996C;
}


.bg-dark {
  background: salmon;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border-bottom: solid #32DBC6 3px;
}

.form-group {
  margin: 0.75rem;
}

input, textarea {
  margin: 0.5rem;
  padding: 0.5rem;
  font-family: 'Raleway', sans-serif;
  border: none;
  color: #DB996C;
}

.btn-dark {
  color: #fff;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: #32DBC6;
  font-family: 'Raleway', sans-serif;
}

.btn-dark:hover {
  color: salmon;
  background: #fff;
  transition: 2s ease-in;
}

.pelican {
  margin: 1rem 0;
}

.kind {
  padding: 1rem 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1100px;
  align-items: center;
  justify-content: center;
  text-align: center;
   grid-auto-flow: row dense;
}

.box{
  object-fit: cover;
  width: 100%;
}

#footer {
  background: #fff;
  color: #DB996C;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
